<h1>Bienvenida</h1>

<div class="callout callout-info">
    <p>Nos complace darte la Bienvenida como parte de la comunidad del sector nuclear argentino.
    Desde hace más de 65 años, la CNEA desarrolla la tecnología nuclear con fines pacíficos,
    aplicando sus beneficios a diferentes áreas, como la generación de energía eléctrica, la medicina,
    el agro, la industria y la educación.</p>

    <p>Todos los logros alcanzados y los que vendrán, sólo son posibles con el compromiso y el esfuerzo de
    cada uno de los empleados que hacemos a la Institución.</p>

    <p>Ser parte de una comunidad  involucra también una cuota de responsabilidades y obligaciones que en nuestro
    caso, se traducen en el compromiso de llevar adelante los valores de la Institución: calidad, innovación y seguridad.</p>

    </br>

    <p><b>Porque:</b></p>
    <p>SOS PARTE DEL EQUIPO DE TRABAJO,</p>
    <p>LOS EMPLEADOS HACEN A LA CNEA</p>
    <p>y porque QUEREMOS ACOMPAÑARTE EN ESTE INGRESO,</p>
    <p>TE CONTAMOS QUÉ HACEMOS EN CNEA Y QUÉ BENEFICIOS TENÉS</p>

</div>

<!--ESTARÍA BIEN PENSAR UNA FORMA DINÁMICA EN QUE SE MUESTRE ESTE CONTENIDO RESALTADO EN AMARILLO, -->
<!--QUE INGRESEN LAS FRASES UNA A UNA Y SE CONFORME UN RECUADRO O ALGO SIMILAR-->

<div class="callout callout-default">
    <p>A continuación te invitamos a ver el siguiente video introductorio para empezar a conocer esta prestigiosa
    institución de la que ya eres parte.</p>

    </br>

    <div class="center-block video">
        <div class="video embed-responsive embed-responsive-16by9" style="background-color: whitesmoke">
            <video controls>
                <source src="video/videoInstitucional.mp4" type="video/mp4">
            </video>
        </div>
    </div>
    <!--Insertar video institucional (no está armado aún)-->
</div>
