<h1>Argentina, un país nuclear</h1> <!--(título)-->

<div class="callout callout-info">
    <p>El 31 de mayo de 1950 se creó, mediante el Decreto N.° 10.936, la Comisión Nacional de Energía Atómica.
    Estamos organizados por una Presidencia (presidente y vicepresidente), de la cual se desprenden cuatro grandes
    áreas temáticas que realizan las diversas actividades y proyectos a lo largo del territorio nacional.</p>

    <p>La Argentina se destaca por impulsar el uso de la energía nuclear con fines pacíficos, apostando a la investigación
    y a la innovación, a partir de una política federal.</p>

    <p>Muchas de las actividades se hacen en forma conjunta con gobiernos provinciales, universidades, empresas privadas y
    otros organismos estatales.</p>

    <p>Contamos con 1 sede central, 3 Centros Atómicos (2 en Buenos Aires y 1 en Rio Negro) y 4 Regionales en Mendoza,
    Córdoba, Salta y Chubut.</p>

    <p>La Sede central  está situada en la Ciudad Autónoma de Buenos Aires, es el centro administrativo de la institución.</p>
</div>


<!--__________________-->

<div class="callout callout-default">
    <h2>Centros</h2>

    <h4>Centro Atómico Constituyentes:</h4>

    <div class="row">

        <div class="col-sm-6 text-center">
            <img class="img-rounded img-responsive imgCentrada" src="images/content/centroConstituyentes.jpg">
        </div>

        <div class="col-sm-6">
            <p>
                Está emplazado el reactor de investigación RA-1, el acelerador de iones pesados Tandar, la fábrica de Elementos
                Combustibles para Reactores de Investigación (ECRI).
            </p>
        </div>

    </div>

    <br>

    <h4>Centro Atómico Ezeiza:</h4>
    <!--IMAGEN-->
    <p>
        Dedicado a la producción de radioisótopos para uso médico e industrial. Es sede del “Programa Nacional de Residuos
        Radioactivos” y cuenta con 23 plantas y laboratorios, entre ellos,  la Planta de Irradiación Semi Industrial (PISI).
    </p>

    <h4>Centro Atómico Bariloche:</h4>
    <!--IMAGEN-->
    <p>
        Se encuentra el reactor de investigación RA-6, dedicado a formación académica de físicos e ingenieros nucleares;
        el acelerador lineal de Electrones, utilizado para investigación y docencia y 25 laboratorios principales.
    </p>

</div>

<!--__________________-->

<div class="callout callout-default">
    <h2>Regionales</h2>

    <h4>Mendoza</h4>
    <p>
        Ubicada en el municipio de Godoy Cruz, Mendoza. Su actividad principal es la prospección del uranio
        en las provincias de Mendoza, San Juan, San Luis, La Pampa y Neuquén.
    </p>
    <br>

    <h4>Córdoba</h4>
    <p>
        Ubicada en la ciudad de Córdoba. Su principal tarea es la prospección del uranio.
    </p>
    <br>

    <h4>Salta</h4>
    <p>
        Ubicada en la provincia de Salta. Realiza actividades de exploración geológica.
    </p>
    <br>

    <h4>Chubut</h4>
    <p>
        Está ubicada en Trelew, provincia de Chubut. Está relacionada con la prospección del uranio.
    </p>

</div>


<!--COLLAGE CON IMÁGENES DE LAS 4 REGIONALES-->
