<h1>{{paginaActual().titulo}}</h1>

<div class="row callout callout-default fade in">

    <div class="col-sm-4 text-center">
        <img class="img-rounded img-responsive imgCentrada" src="images/content/nubetags.png">
    </div>

    <div class="col-sm-8">
        <h2 class="comiteAnimado">
            ¿Quiénes evalúan el listado de postulantes del expediente brindado por la Gerencia de Planificación y
            Control?
        </h2>

        <p class="comiteAnimado">
            Para evaluar dicho listado se conformará un Comité de Preselección y Selección que debe estar integrado por:
        </p>

        <div class="comiteAnimado bg-warning with-padding block-inner">El/la Director/a de la beca.
        </div>

        <div class="comiteAnimado bg-warning with-padding block-inner">Su jefe inmediato superior, o quien él designe en su reemplazo.
            Incluir además un alterno a los únicos
            efectos
            de
            cubrir posibles ausencias.
        </div>

        <div class="comiteAnimado bg-warning with-padding block-inner">Un representante designado por el Jefe de Organismo Principal.
            Incluir además un alterno a los únicos
            efectos
            de
            cubrir posibles ausencias.
        </div>

    </div>
</div>



<div name="importante" title="Importante" class="tip animado bloqueConIcono row bg-danger with-padding block-inner">

    <div class="col-xs-1">
        <span class="icon-warning icono"></span>
    </div>

    <div class="col-xs-10 col-sm-11">

        <p>
            Este Comité de Preselección y Selección deberá estar avalado por el Jefe del Organismo Principal por nota
            que se debe incluir en el expediente.
            (Si hubiese co- director, es recomendable que también participe de las entrevistas, sumándose a las tres
            personas antes mencionadas)
        </p>

    </div>

</div>

<script>
    $('.tip').tooltip();
    mostrarProgresivamente(".comiteAnimado");
</script>