<div class="callout callout-default">
    
    <h2>INTRAWEB</h2>
    
    <ul>
        <li>Manual de identidad visual de la CNEA</li>
        <li>Publicaciones: Energía Interna, Notinuc.</li>
        <li>Programa de “Visitas a los Centros Atómicos”, “Visitas Atucha”</li>
        <li>Programa “Charlas en escuelas – Fichas y carátulas”</li>
        <li>Links a las distintas redes sociales: Facebook, Flicker, Twiter.</li>
        <li>Link al sitio web (<a href="http://www.cnea.gov.ar/Multimedia" target="_blank">http://www.cnea.gov.ar/Multimedia</a>)</li>
        <li>Fechas importantes: Día de la Energía Nuclear y Fiesta fin de año</li>
        <li>Correo internos de referencia (ver guía de referencia)</li>
    </ul>

    <p>
        SITIO WEB <a href="http://www.cnea.gov.ar/" target="_blank">http://www.cnea.gov.ar/</a>
    </p>

</div>
