<h1>Cultura organizacional</h1>

<div class="callout callout-default">

    <h2>¿Quiénes somos?</h2>

    <p>
        Somos un organismo de referencia en el desarrollo nuclear argentino y un actor destacado en el área de
        la ciencia y la tecnología de nuestro país.
    </p>

    <p>Nuestra misión es:</p>
    <p>
       <b>“Asesorar al Poder Ejecutivo en la definición de la política nuclear, llevar a cabo investigaciones
        y desarrollos tecnológicos, ingeniería y servicios en el área, dentro del marco de los usos pacíficos
        de la energía nuclear.”</b>
    </p>
</div>

<!--_________________________________________________________________-->

<div class="callout callout-default">
    <h2>¿Qué buscamos?</h2>
    <p>Consolidar la posición de CNEA como organismo del sector, y con sus logros aportar al  desarrollo y crecimiento del país</p>
</div>

<!--_________________________________________________________________-->
<div class="callout callout-default">

    <h2>¿Qué hacemos?</h2>

    <ul>
        <li>Aportamos  a la generación de energía nucleoeléctrica a gran escala.</li>

        <li>Garantizamos   la  protección del ambiente  y hacemos una gestión segura de los materiales radiactivos.</li>

        <li>Producimos radioisótopos para su  uso en el sistema nacional de salud, en la industria y en el agro.</li>

        <li>Aportamos y transferimos tecnología al entramado productivo nacional.</li>
    </ul>

</div>

<div name="importante" title="Importante" class="tip animado bloqueConIcono row bg-danger with-padding block-inner">

    <div class="col-xs-1">
        <span class="icon-warning icono"></span>
    </div>

    <div class="col-xs-10 col-sm-11">

        <p>
            Argentina lidera el desarrollo nuclear en América Latina. Sus proyectos y recursos humanos son reconocidos a
            nivel mundial. La calidad, la innovación y la seguridad son los valores que nos permiten avanzar por esta línea.
        </p>

    </div>

</div>