<div class="callout callout-info">
    <h2>Formación y capacitación de recursos humanos</h2>
    <p>
        La CNEA apuesta al desarrollo científico y tecnológico y por eso potencia en sus
        institutos uno de sus principales recursos: el conocimiento. <br>
        Para llevar adelante tales propósitos, y en el marco de acuerdos académico con diversas
        universidades nacionales, la CNEA cuenta con los institutos Balseiro, Sabato y Dan Beninson,
        prestigiosos centros educativos que son referentes a nivel nacional e internacional en el
        campo de la ciencia y técnica.
        Ofrecen carreras de grado y posgrado en áreas del conocimiento científico y la ingeniería,
        en temáticas relacionadas con las actividades estratégicas del sistema nuclear argentino,
        el complejo nacional de ciencia y técnica y el entramado productivo de nuestro país.
    </p>
</div>

<div class="callout callout-default">
    <h2>CARRERAS DE PRE GRADO</h2>
    <div class="bg-primary with-padding block-inner">
        Tecnicatura Universitaria en Aplicaciones Nucleares (IDB)
    </div>
</div>

<div class="callout callout-default">
    <h2>CARRERAS DE GRADO</h2>
    <div class="bg-primary with-padding block-inner">Licenciatura en Física (IB)</div>
    <div class="bg-primary with-padding block-inner">Ingeniería Nuclear (IB)</div>
    <div class="bg-primary with-padding block-inner">Ingeniería Nuclear - Orientación Aplicaciones (IDB)</div>
    <div class="bg-primary with-padding block-inner">Ingeniería Mecánica (IB)</div>
    <div class="bg-primary with-padding block-inner">Ingeniería en Materiales (IS)</div>
    <div class="bg-primary with-padding block-inner">Ingeniería en Telecomunicaciones (IB)</div>
</div>

<div class="callout callout-default">
    <h2>CARRERAS DE POSGRADO</h2>
    <div class="bg-primary with-padding block-inner">Doctorado Física (IB)</div>
    <div class="bg-primary with-padding block-inner">Doctorado en Ciencias de la Ingeniería (IB)</div>
    <div class="bg-primary with-padding block-inner">Doctorado en Ingeniería Nuclear (IB)</div>
    <div class="bg-primary with-padding block-inner">Doctorado en Ciencia y Tecnología - mención Física (IS)</div>
    <div class="bg-primary with-padding block-inner">Doctorado en Ciencia y Tecnología - mención Materiales (IS)</div>
    <div class="bg-primary with-padding block-inner">Doctorado en Astrofísica (IS)</div>
    <div class="bg-primary with-padding block-inner">Doctorado en Tecnología Nuclear (IDB)</div>
    <div class="bg-primary with-padding block-inner">Maestría en Ciencias Físicas (IB)</div>
    <div class="bg-primary with-padding block-inner">Maestría en Física Médica (IB-FUESMEN)</div>
    <div class="bg-primary with-padding block-inner">Maestría en Ingeniería (IB)</div>
    <div class="bg-primary with-padding block-inner">Maestría en Ciencia y Tecnología de Materiales (IS)</div>
    <div class="bg-primary with-padding block-inner"> Especialización en Aplicaciones Tecnológicas de la Energía Nuclear (IB)</div>
    <div class="bg-primary with-padding block-inner">Especialización en Radioquímica y Aplicaciones Nucleares (IDB)</div>
    <div class="bg-primary with-padding block-inner">Especialización en Ensayos No Destructivos (IS)</div>
    <div class="bg-primary with-padding block-inner">Especialización en Reactores Nucleares y su Ciclo Combustible (IDB)</div>
</div>

<div class="callout callout-default">
    <h2>CURSOS PARA PROFESIONALES Y TÉCNICOS ESPECIALIZADOS</h2>
    <div class="bg-primary with-padding block-inner">Curso de Metodología y Aplicación de Radionucleidos (IDB)</div>
    <div class="bg-primary with-padding block-inner">
        Curso ABC de la Energía Nuclear (IDB, exclusivo para personal de CNEA o de
        empresas del área nuclear que lo requieran)
    </div>
    <div class="bg-primary with-padding block-inner">Curso de Física de la Radioterapia (IDB)</div>
    <div class="bg-primary with-padding block-inner">Curso de Dosimetría en Radioterapia (IDB)</div>
    <div class="bg-primary with-padding block-inner">Diplomatura en Materiales para la Industria Nuclear (IS)</div>
    <div class="bg-primary with-padding block-inner">
        Programa de Entrenamiento Asistido a Distancia para Técnicos en
        Medicina Nuclear aplicado a SPECT-CT y PET-CT (Programa DAT-2)
    </div>
</div>


<div name="importante" title="Importante" class="tip animado bloqueConIcono row bg-danger with-padding block-inner">

    <div class="col-xs-1">
        <span class="icon-warning icono"></span>
    </div>

    <div class="col-xs-10 col-sm-11">

        <p>
            Los valores que guían nuestro accionar en la formación académica e institucional son:
            Tenacidad, responsabilidad y compromiso
        </p>

    </div>

</div>
