<h1>{{paginaActual().titulo}}</h1>

<div class="callout callout-warning">
    A efectos de facilitar la confección del Acta de selección se sugiere completar el siguiente informe luego de
    cada entrevista.
</div>

<div class="callout callout-default">
    <h2 class="guiaInformeAnimate">Informe de entrevista</h2>
    <ul class="listado listadoInfo">
        <li class="guiaInformeAnimate">Nombre y número de la beca a cubrir</li>
        <li class="guiaInformeAnimate">Tipo de beca</li>
        <li class="guiaInformeAnimate">Nombre del Director</li>
        <li class="guiaInformeAnimate">Integrantes del Comité de Evaluación</li>
        <li class="guiaInformeAnimate">Nombre del candidato</li>
        <li class="guiaInformeAnimate">Edad</li>
    </ul>
</div>

<div class="callout callout-warning">

    <h2>Rubro 1: Formación / Estudios</h2>

    <h4>Nivel de estudios alcanzado: (marque una opción)</h4>

    <label class="labelRadio"
           ng-repeat-start="nivel in ['Secundario','Técnico','Terciario','Universitario','Posgrado']">
        <input type="radio" onclick="return false">
        {{nivel}}
    </label>
    <br ng-repeat-end>
    <br>


    <h4>Carrera/s que cursa o que cursó: </h4>
    <input type="text" readonly class="form-control" style="max-height: 100px">
    <br>

    <h4>Institución:</h4>
    <input type="text" readonly class="form-control">
    <br>

    <h4>Evaluación del nivel académico de los estudios: (marque una opción)</h4>
    <label class="labelRadio" ng-repeat-start="nivel in ['Muy bueno', 'Bueno', 'Regular']">
        <input type="radio" onclick="return false">
        {{nivel}}
    </label>
    <br ng-repeat-end>
    <br>

    <h4>Manejo de idiomas: (marque una opción)</h4>
    <label class="labelRadio" ng-repeat-start="nivel in ['Muy bueno', 'Bueno', 'Regular']">
        <input type="radio" onclick="return false">
        {{nivel}}
    </label>
    <br ng-repeat-end>
    <br>

</div>


<div class="callout callout-info">
    <h2>Rubro 2: Trayectoria</h2>
    <h4>Experiencias significativas del candidato.</h4>
</div>

<div class="callout callout-warning">
    <h2>Rubro 3: Intereses/Valores</h2>
    <h4>Principales intereses, valores y expectativas del candidato.</h4>
</div>

<div class="callout callout-info">
    <h2>Rubro 4: Nivel de complejidad de problemas que resuelve / Posibilidades de desarrollo</h2>

    <h4>De acuerdo a los relatos de la experiencia profesional o educativa del candidato, realice una apreciación de los
        siguientes aspectos:</h4>

    <h4>Nivel de autonomía en el manejo de proyectos/tareas: (marque una opción)</h4>
    <label class="labelRadio"
           ng-repeat-start="nivel in ['Alto','Medio','Bajo']">
        <input type="radio" onclick="return false">
        {{nivel}}
    </label>
    <br ng-repeat-end>
    <br>

    <h4>Creatividad en el manejo de proyectos/tareas (marque una opción)</h4>
    <label class="labelRadio"
           ng-repeat-start="nivel in ['Alto','Medio','Bajo']">
        <input type="radio" onclick="return false">
        {{nivel}}
    </label>
    <br ng-repeat-end>
    <br>

    <h4>Nivel de complejidad de la información utilizada (marque una opción)</h4>
    <label class="labelRadio"
           ng-repeat-start="nivel in ['Alto','Medio','Bajo']">
        <input type="radio" onclick="return false">
        {{nivel}}
    </label>
    <br ng-repeat-end>
    <br>

</div>

<div class="callout callout-warning">
    <h2>Rubro 5: Habilidades y Comportamientos</h2>

    <h3>Mencione si observa en el candidato alguno de los siguientes comportamientos:</h3>

    <ul class="listado listadoWarning">
        <li><b>Compromiso:</b> identificación con la institución y con el tema de la beca, importancia que le da a las actividades
        de la beca, confidencialidad en el manejo de la información.</li>

        <li><b>Trabajo en equipo:</b> capacidad para establecer relaciones de colaboración, contribuir con las tareas de otros,
        aceptar pautas.</li>

        <li><b>Disposición para el aprendizaje:</b> asertividad, defensa de los propios puntos de vista, apertura a preguntas o
        cuestionamientos, proactividad de propuestas, flexibilidad.</li>
    </ul>
</div>

<script>
    $('.tip').tooltip();
    mostrarProgresivamente(".guiaInformeAnimate");
</script>
