<div class="callout callout-default">

    <h2>I+D</h2>

    <p>Los exigentes estándares de calidad y seguridad que regulan la actividad nuclear requieren de un
    planeamiento a largo plazo de todas sus actividades. Por ello, la CNEA elaboró un Plan Estratégico
    para el periodo 2015-2025 con el objetivo de respaldar el conjunto de la actividad del sector
    nuclear de nuestro país.</p>

    <p>En esta dirección, la CNEA ejecuta tres proyectos que –a su vez– tienen un efecto dinamizador para
    el sistema industrial-tecnológico nacional:</p>

    <div class="bgNaranja with-padding block-inner">
        El Proyecto CAREM, primer reactor de potencia 100% argentino, que posiciona a nuestro país como uno de
        los líderes mundiales en el segmento de reactores de baja potencia y brinda un aporte confiable y sostenible
        ante la creciente demanda energética.
    </div>

    <div class="bgNaranja with-padding block-inner">
        El reactor multipropósito RA-10, orientado a abastecer la demanda local de radioisótopos
        aplicados a la medicina nuclear dentro del sistema nacional de salud, a la vez que atender el
        mercado mundial de estos radiofármacos.
    </div>

    <div class="bgNaranja with-padding block-inner">
        La Red PET/CNEA, que conecta y potencia los servicios brindados por los centros de medicina
        nuclear del sistema público de salud, poniendo a nuestro país a la vanguardia del diagnóstico y
        tratamiento de enfermedades no transmisibles, como las oncológicas, entre otras.
    </div>

    <div class="bgNaranja with-padding block-inner">
        Como parte de sus objetivos estratégicos, la CNEA también prioriza la transferencia
        científico-tecnológica nuclear mediante servicios de alto valor agregado para la industria,
        el monitoreo ambiental, el desarrollo de energías limpias, la nanotecnología, las actividades
        espaciales, entre otras áreas.
    </div>

</div>

<div class="callout callout-default">

    <h2>Desarrollo tecnológico</h2>

    <h3>Pilcaniyeu</h3>
    <p>El Complejo Tecnológico Pilcaniyeu está ubicado en la provincia de Rio Negro, a 60 Km de San Carlos de
    Bariloche. Las actividades de enriquecimiento de uranio se inscriben dentro del marco de la adhesión
    al uso pacífico de la energía nuclear y del cumplimiento de los acuerdos garantizados por el Organismo
    Internacional de Energía Atómica (OIEA). Sus principales objetivos son:</p>

    <p>Aumentar la capacidad técnica preservando los conocimientos adquiridos.</p>

    <p>Extender la infraestructura necesaria para garantizar el suministro de uranio a las centrales
    nucleares de potencia, asegurando tecnológicamente la cobertura de la demanda nacional de insumos nucleares.</p>

</div>