<div class="portada">

    <div class="portadaArriba"></div>

    <div class="contenidoPortada">
        <h1 class="portadaAnimate" style="text-align: left">Inducción de personal</h1>
        <h2 class="portadaAnimate" style="text-align: right">para planta permanente, contrato a plazo fijo y becarios</h2>

        <div class="portadaAnimate" style="text-align: center; margin-top: 50px">
            <button ng-click="paginaSiguiente()" type="button" class="btn btn-primary tip" data-placement="top" title="Comenzar"><span
                    class="icon-play3"></span></button>

            <button ng-show="comenzoCurso()" ng-click="irUltimaPaginaVisitada()" type="button" class="btn btn-primary tip" data-placement="top" title="Continuar"><span
                    class="icon-location"></span></button>
        </div>

    </div>

    <div class="portadaAbajo">
    </div>


</div>

<!--<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"-->
        <!--codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0"-->
        <!--width="100%">-->

    <!--<param name="movie" value="flashmovie.swf" />-->
    <!--<param name="quality" value="high" />-->
    <!--<PARAM NAME="SCALE" VALUE="default">-->

    <!--<embed src="swf/comic-interactivo.swf"-->
           <!--quality="high" type="application/x-shockwave-flash"-->
           <!--height="500px"-->
           <!--width="100%"-->
           <!--SCALE="default"-->
           <!--pluginspage="http://www.macromedia.com/go/getflashplayer"/>-->

<!--</object>-->

<script>
    $('.tip').tooltip();
    mostrarProgresivamente(".portadaAnimate");
</script>