
<div class="callout callout-default">

    <h2>1.	Tecnología nuclear en Argentina</h2>

    <div class="actaPreseleccionAnimate bgNaranja with-padding block-inner">
        Argentina forma parte de un reducido grupo de países que cuentan con capacidad autónoma para
        dominar la tecnología nuclear con fines pacíficos. Cuenta con laboratorios, equipamiento y
        profesionales del más alto nivel para realizar investigaciones y desarrollos que amplían los
        campos de aplicación de la tecnología nuclear en beneficio del conjunto de la sociedad.
    </div>

    <div class="actaPreseleccionAnimate bgNaranja with-padding block-inner">
        Lo nuclear se considera hoy una tecnología limpia (no emite gases a la atmósfera).
    </div>

    <div class="actaPreseleccionAnimate bgNaranja with-padding block-inner">
        La industria nuclear crea un círculo virtuoso de desarrollo y fortalece los sectores de la
        economía ligados a la producción de servicios y productos vinculados con la actividad.
    </div>

</div>


<div class="callout callout-default">

    <h2>2.	Energía limpia para la vida cotidiana</h2>

    <p>Los   aportes   de   la   tecnología   nuclear   tienen   múltiples   efectos   positivos   para
    el desarrollo de  nuestro   país. Especialmente para generar electricidad: aproximadamente el 5% de la
    electricidad que usamos se genera en las 3 centrales nucleares que tiene nuestro país.</p>


    <p>Además aporta a diferentes áreas.</p>

    <p><b>Industria:</b>  se  aplica  la  tecnología  nuclear  en  mediciones,  automatización  y  mejora  de
    procesos  productivos y el control de calidad.  La  radiografía  gamma,  por  ejemplo, constituye una
    técnica para la verificación de soldaduras en tuberías y la detección de grietas en piezas de aviones,
    puentes y otras estructuras.</p>

    <p><b>Agricultura:</b>  la técnica  del  Insecto  Estéril  (TIE)  permite  controlar  plagas  que  afectan  la
    producción  de  frutas  y  verduras  evitando la utilización de agrotóxicos.  Esta  técnica  también
    puede  utilizarse  para controlar plagas que  transmiten  enfermedades,  como  el  caso  del  mosquito
    Aedes aegypti, portador del virus del dengue, zika y fiebre chikungunya.</p>

    <p><b>Investigación:</b>  diversas  técnicas  nucleares  se  aplican en el cuidado y protección del ambiente  a
    través  del  monitoreo  de  contaminantes  en  el agua, el aire y el suelo.</p>

    <p><b>Salud:</b> La tecnología nuclear se utiliza para el tratamiento y esterilización de productos de uso médico
    (jeringas, apósitos, guantes, protectores, envases), así como prótesis, productos odontológicos, material
    de laboratorio e insumos para bioterios.</p>

</div>

<div name="importante" title="Importante" class="tip animado bloqueConIcono row bg-danger with-padding block-inner">

    <div class="col-xs-1">
        <span class="icon-warning icono"></span>
    </div>

    <div class="col-xs-10 col-sm-11">

        <p>
            La tecnología  nuclear  también se  usa  en  diversos  campos  del quehacer  humano  por medio   de   la
            utilización   de   radioisótopos   y   radiaciones   ionizantes   que   permiten prolongar  la  vida  de
            los  alimentos,  modificar  las  propiedades  de  polímeros,  realizar estudios   de   fertilidad   de
            suelos, proteger  el  patrimonio  artístico y documentos históricos, entre otras aplicaciones.
        </p>

    </div>

</div>

<div class="callout callout-default">

    <h2>3. Medicina nuclear.</h2>
    
    <p>Las aplicaciones nucleares permiten diagnósticos tempranos  lo que posibilita realizar  tratamientos 
    más efectivos.  Hoy  en  día no hay  órgano de nuestro cuerpo que no pueda ser explorado por 
    esta técnica</p>
    
    <p><b>DIAGNÓSTICO:</b> se usan los isótopos radiactivos (radioisótopos) de elementos como flúor, tecnecio, 
    iodo, carbono, nitrógeno, galio y otros para determinar el funcionamiento de determinados órganos. 
    Son los denominados "radiotrazadores", que forman parte de los radiofármacos, compuestos que se administran 
    a los pacientes para observar sus órganos con equipamiento especial de alta tecnología. Las principales 
    aplicaciones de estas técnicas están relacionadas con la detección de diferentes tipos de cáncer a través 
    del diagnóstico por imágenes.</p>
    
    <p><b>TRATAMIENTO:</b> las radiaciones ionizantes también se utilizan para atacar lesiones cancerosas.
    Para ello se expone el tumor a radiaciones procedentes de fuentes de radiactividad externas (equipos de 
    rayos X, radioterapia con fuente de cobalto-60) o internas (braquiterapia, radioterapia metabólica).</p>
    
    <div name="importante" title="Importante" class="tip animado bloqueConIcono row bg-danger with-padding block-inner">

        <div class="col-xs-1">
            <span class="icon-warning icono"></span>
        </div>

        <div class="col-xs-10 col-sm-11">

            <p>
                2 millones de personas en Argentina y la región usan cada año los 
                radioisótopos producidos por la CNEA en diagnósticos y tratamientos médicos.
            </p>

        </div>

    </div>
    
</div>